.Heading {
    font-size: 1rem;
    text-align: center;
    font-family: 'Open sans';
    font-weight: 600;
    font-style: normal;
}

.description {
    margin: 50px;
    font-family: 'Open sans';
    font-weight: 200;
    color: white;
    text-align: justify;
}

.paragraphe {
    font-size: 0.8rem;
    font-style: italic;
    padding: 1rem;
    text-align: left;
    margin-left: 20px;
}

.paragraphe span {
    color: red;
}

.titre {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Open sans';
    font-weight: 500;
    font-style: normal;
    color: orange;
}

.titre2 {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Open sans';
    font-weight: 100;
    font-style: italic;
    color: white;
    text-align: center;
}
